<div style="text-align: center">

  <h1>Angular Learning Topic = @ViewChild  @ViewChildren  @ContentChild, @ContentChildren </h1>

  <br>

  <app-counter-parent></app-counter-parent>

  <br>

  <app-parent-color></app-parent-color>

  <br>

  <app-theme></app-theme>

  <br>

  <app-multi-counter-parent></app-multi-counter-parent>

  <br>

  <app-multi-parent-color></app-multi-parent-color>

  <br>

  <app-multi-theme></app-multi-theme>

  <br>

  <app-op-counter-parent></app-op-counter-parent>
 
</div>


