<h2> Operation-Counter-Parent Find,Filter and Map </h2>

<br>

<button type="button" (click)="increment()">Increment</button> &nbsp;

<button type="button" (click)="decrement()">Decrement</button>

<br>

<hr>

<br>

<app-op-counter name="Ram"> </app-op-counter>

<app-op-counter name="Mohan"> </app-op-counter>

<app-op-counter name="Sohan" operation="find"> </app-op-counter>

<app-op-counter name="Arjun" operation="filter"> </app-op-counter>

<app-op-counter name="Arjun" operation="filter"> </app-op-counter>

<app-op-counter name="Om"> </app-op-counter>


<br><br>

<hr>


